* {
     margin: 0px;
     padding: 0px;
}

body {
     background-color: #060622;
     color: white;
}

#logo_image {
     height: 75px;
     /* border-radius: 75px; */

}

#menu {
     color: #6FA7FE;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 1.5rem;
     background-color: #060622;
     padding-left: 30px;
     padding-right: 30px;
     display: flex;
     justify-content: space-between;
}

#menu_logo {
     display: flex;
     gap: 10px;
}

#logo_text {
     margin-top: 20px;
     font-family: 'Protest Riot', sans-serif;
     font-size: 2rem;

}

#menu_links {
     margin-top: 30px;
}

#menu_links>a:link {
     color: #6FA7FE;
     margin-right: 50px;
     text-decoration: none;
}

#menu_links>a:hover {
     padding: 15px;
     border-radius: 30px;
     color: #DF53C0;
     box-shadow: #DF53C0 0px 1px 1px 0px inset, #DF53C0 0px 50px 100px -20px, #DF53C0 0px 30px 60px -30px;
}

#banner_section {
     padding: 50px;
     display: flex;
     gap: 50px;
     background-color: #027568;
}

#banner1 {
     height: 465px;
     width: 700px;
}

.banner2 {
     height: 220px;
     width: 400px;
}

#banner2_2 {
     margin-top: 20px;
}

#about_us {
     padding: 50px;

}

.aboutus_heading {
     font-size: 6.5rem;
     /* color: white; */
}

#about_heading_container {
     display: flex;
     gap: 15px;
     font-family: 'Protest Riot', sans-serif;
     color: #DF53C0;
}

#head2 {
     margin-top: 35px;

}

#aboutus_content {
     display: flex;
     color: white;
     font-size: 1.5rem;
}

#aboutus_text {
     margin-top: 140px;
     font-family: 'Montserrat', sans-serif;
}

#about_image1 {
     border-radius: 400px;
     height: 400px;
     width: 400px;
}

#popular_section {

     padding-left: 60px;
     padding-right: 120px;
     /* padding: 50px; */
     /* opacity: ; */
}

.popular_heading {
     font-size: 2.9rem;
     font-family: 'Protest Riot', sans-serif;
}

#popular_container {
     justify-content: center;
     padding: 30px;
     border-radius: 45px;
     margin-top: 30px;
     height: 500px;
     width: 100%;
     background-color: #027568;
     background-image: url("../images/popular2.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     gap: 30px;
}

#popular_container>div {
     width: 250px;
     background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/873/436/small/colorful-gradient-abstract-background-001-vector.jpg");
     background-color: transparent;
     color: black;
     background-repeat: no-repeat;
     background-size: cover;
     /* opacity: 0.5; */
     padding: 30px;
     font-size: 1.4rem;
     border-radius: 30px;
}

.popular_images {
     height: 325px;
     border-radius: 25px;
     width: 250px;
}

#artist {
     padding: 70px;
}

#artist_heading {
     font-size: 3.9rem;
     color: white;
     font-family: 'Protest Riot', sans-serif;
     margin-bottom: 40px;
}

.child_artist {
     height: 350px;
     width: 350px;
     border-radius: 450px;
     background-color: rgb(113, 112, 253);
     background-color: -moz-linear-gradient(124deg, rgba(113, 112, 253, 1) 18%, rgba(45, 54, 255, 0.9429971817828694) 55%, rgba(45, 83, 255, 1) 77%);
     background-color: -webkit-linear-gradient(124deg, rgba(113, 112, 253, 1) 18%, rgba(45, 54, 255, 0.9429971817828694) 55%, rgba(45, 83, 255, 1) 77%);
     background-color: linear-gradient(124deg, rgba(113, 112, 253, 1) 18%, rgba(45, 54, 255, 0.9429971817828694) 55%, rgba(45, 83, 255, 1) 77%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7170fd", endColorstr="#2d53ff", GradientType=1);
}

#parent_artist {
     display: flex;
     gap: 50px;
}

#painter1 {
     background-image: url('../images/painter1.png');
     background-size: cover;
}

#painter2 {
     background-image: url('../images/painter2.png');
     background-size: contain;
     background-repeat: no-repeat;
}

#painter3 {
     background-image: url('../images/painter3.png');
     background-size: contain;
     background-repeat: no-repeat;
}

.artist_name {
     font-family: 'Protest Riot', sans-serif;
     margin-top: 35px;
     font-size: 2.5rem;
     text-transform: capitalize;
     display: none;
}


#div1:hover {
     #name1 {
          display: block;
     }
}

#div2:hover {
     #name2 {
          display: block;
     }
}

#div3:hover {
     #name3 {
          display: block;
     }
}

#contact_us {
     /* height: 1000px; */
     display: flex;
     padding-bottom: 70px;
     padding-right: 70px;
     padding-left: 70px;
     gap: 50px;
}

#form {
     width: 550px;
     height: 500px;
     background-color: #027568;
     padding: 10px;
     font-size: 2.5rem;
}

#contact_heading {
     padding-top: 70px;
     padding-left: 70px;
     padding-right: 70px;
     font-family: 'Protest Riot', sans-serif;
     font-size: 2.9rem;
}

.form-group {
     margin-top: 50px;
     margin-left: 50px;
     margin-right: 50px;
}

.myinput {
     height: 30px;
     width: 400px;
}

.textarea {
     margin-top: 5px;
}

.buttons {
     margin-left: 50px;
}

/* CSS */
.button-30 {
     align-items: center;
     appearance: none;
     background-color: #FCFCFD;
     border-radius: 4px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
     box-sizing: border-box;
     color: #36395A;
     cursor: pointer;
     display: inline-flex;
     font-family: "JetBrains Mono", monospace;
     height: 48px;
     justify-content: center;
     line-height: 1;
     list-style: none;
     overflow: hidden;
     padding-left: 16px;
     padding-right: 16px;
     position: relative;
     text-align: left;
     text-decoration: none;
     transition: box-shadow .15s, transform .15s;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     will-change: box-shadow, transform;
     font-size: 18px;
}

.button-30:focus {
     box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
     box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
     transform: translateY(-2px);
}

.button-30:active {
     box-shadow: #D6D6E7 0 3px 7px inset;
     transform: translateY(2px);
}

#footer {
     background-color: #027568;
     padding: 20px;
     margin: 10px;
     font-size: 1.5rem;
}

.footer_text {
     margin-top: 20px;
}

.footer_link:link , .footer_link:visited {
     color: white;
     text-decoration: none;
}